*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
      overflow-y: scroll; 
  }

body {
    background:#c1bdba;
    font-family: 'Titillium Web', sans-serif;
  }
  a {
    text-decoration:none;
    color:#1ab188;
    transition:0.5s ease;
    &:hover {
      color:darken(#1ab188,5%);
    }
  }